# Group Visualizations and ETL Reports - World Bank Finance Sector
## Number of Domestic Companies and Broad Money (% of GDP)

See https://data.worldbank.org/indicator/CM.MKT.LDOM.NO?view=chart for the number of domestic companies API and https://data.worldbank.org/indicator/FM.LBL.BMNY.GD.ZS?view=chart for broad money API

Before importing the CSV file into a dataframe, I open the csv file for "Number_of_Domestic_Companies.csv" and deleted the "Data Source" line, the 'Last Updated Date' line, and the empty lines before the column headers. If you don't want to do this, simply include the skiprows=4 parameter in the read_csv() method to exclude those rows.

## Creating the DataFrames (Extraction)

In [57]:
import pandas as pd
import re
import numpy as np


domestic_companies = pd.read_csv('Number_of_Domestic_Companies.csv',sep='\n',delimiter=',')

broad_money_GDP = pd.read_csv('Broad_Money_Per_GDP.csv',sep='\n',delimiter=',', skiprows=4)

gen_info_df = pd.read_csv('MetaData_Country.csv')

regions_df = gen_info_df[['Country Code','Region','IncomeGroup']]

## Cleaning each DataFrame into loadable content (Transformation)

## Number of Domestic Companies:

In [60]:
domestic_companies.shape

(266, 66)

In [62]:
years = []
country_id_columns = domestic_companies[[x for x in domestic_companies.columns if x.isnumeric()==False]]
for i in range(1960,2021):
    years.append(str(i))

domestic_companies.dropna(subset = years, thresh=len(country_id_columns.columns)+1, inplace=True)
domestic_companies.dropna(axis=1, thresh=1, inplace=True)
domestic_companies

,Country Name,Country Code,Indicator Name,Indicator Code,1975,1976,1977,1978,1979,1980,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,Africa Eastern and Southern,AFE,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,264.0,255.0,254.0,226.0,222.0,NaN,NaN,NaN,259.0,254.0
7,Arab World,ARB,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,1338.0,1333.0,1355.0,1184.0,1188.0,1187.0,1172.0,1189.0,1349.0,1330.0
8,United Arab Emirates,ARE,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,108.0,107.0,117.0,120.0,125.0,125.0,127.0,130.0,130.0,130.0
9,Argentina,ARG,"Listed domestic companies, total",CM.MKT.LDOM.NO,321.0,308.0,302.0,295.0,295.0,277.0,...,99.0,101.0,97.0,95.0,93.0,93.0,96.0,93.0,91.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Vietnam,VNM,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,687.0,697.0,678.0,670.0,684.0,696.0,728.0,749.0,745.0,745.0
259,World,WLD,"Listed domestic companies, total",CM.MKT.LDOM.NO,14577.0,14152.0,13328.0,13712.0,14099.0,17273.0,...,44323.0,43772.0,44853.0,45743.0,43983.0,43806.0,43440.0,43554.0,43248.0,NaN
263,South Africa,ZAF,"Listed domestic companies, total",CM.MKT.LDOM.NO,577.0,545.0,547.0,507.0,491.0,481.0,...,347.0,338.0,322.0,322.0,316.0,303.0,294.0,289.0,274.0,264.0
264,Zambia,ZMB,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0
265,Zimbabwe,ZWE,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Countries Only DataFrame - Domestic Companies

In [220]:
merger_dc = domestic_companies.merge(regions_df,how='inner',on='Country Code')

countries_only_dc_df = merger_dc[merger_dc['Region'].notna()]

countries_only_dc_df

,Country Name,Country Code,Indicator Name,Indicator Code,1975,1976,1977,1978,1979,1980,...,2013,2014,2015,2016,2017,2018,2019,2020,Region,IncomeGroup
3,United Arab Emirates,ARE,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,117.0,120.0,125.0,125.0,127.0,130.0,130.0,130.0,Middle East & North Africa,High income
4,Argentina,ARG,"Listed domestic companies, total",CM.MKT.LDOM.NO,321.0,308.0,302.0,295.0,295.0,277.0,...,97.0,95.0,93.0,93.0,96.0,93.0,91.0,NaN,Latin America & Caribbean,Upper middle income
5,Australia,AUS,"Listed domestic companies, total",CM.MKT.LDOM.NO,1319.0,1229.0,1185.0,1116.0,1011.0,1007.0,...,1955.0,1967.0,1989.0,1969.0,2013.0,2004.0,1952.0,1902.0,East Asia & Pacific,High income
6,Austria,AUT,"Listed domestic companies, total",CM.MKT.LDOM.NO,76.0,74.0,71.0,68.0,67.0,66.0,...,82.0,82.0,79.0,71.0,67.0,67.0,71.0,68.0,Europe & Central Asia,High income
7,Belgium,BEL,"Listed domestic companies, total",CM.MKT.LDOM.NO,290.0,277.0,253.0,239.0,231.0,225.0,...,117.0,113.0,117.0,NaN,NaN,NaN,NaN,NaN,Europe & Central Asia,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,"Venezuela, RB",VEN,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,39.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,Latin America & Caribbean,NaN
125,Vietnam,VNM,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,678.0,670.0,684.0,696.0,728.0,749.0,745.0,745.0,East Asia & Pacific,Lower middle income
127,South Africa,ZAF,"Listed domestic companies, total",CM.MKT.LDOM.NO,577.0,545.0,547.0,507.0,491.0,481.0,...,322.0,322.0,316.0,303.0,294.0,289.0,274.0,264.0,Sub-Saharan Africa,Upper middle income
128,Zambia,ZMB,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,Sub-Saharan Africa,Lower middle income
129,Zimbabwe,ZWE,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sub-Saharan Africa,Lower middle income

### Income-Based DataFrame - Domestic Companies

In [221]:
merged_gen_info_dc_df = merger_dc[merger_dc['Region'].isna()]

incomes = ['Low income', 'middle income', 'High income']

income_based_dc_list = []

for country in list(merged_gen_info_dc_df['Country Name'].values):
    for income in incomes:
        try:
            if country == re.search(income, country).string:
                income_based_dc_list.append(merged_gen_info_dc_df[merged_gen_info_dc_df['Country Name'] == country].values[0])
        except:
            continue

income_based_dc_df = pd.DataFrame(np.array(income_based_dc_list),columns=[merged_gen_info_dc_df.columns])

income_based_dc_df

,Country Name,Country Code,Indicator Name,Indicator Code,1975,1976,1977,1978,1979,1980,...,2013,2014,2015,2016,2017,2018,2019,2020,Region,IncomeGroup
0,High income,HIC,"Listed domestic companies, total",CM.MKT.LDOM.NO,13256,12829,12395,12455,12572,15559,...,29118,29336,27450,27080,26829,27069,26378,NaN,NaN,NaN
1,Lower middle income,LMC,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,9098,9574,9358,9348,9190,8652,8891,9019,NaN,NaN
2,Low & middle income,LMY,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,15696,16370,16533,16726,16611,16485,16870,17314,NaN,NaN
3,Upper middle income,UMC,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,6598,6796,7175,7378,7421,7833,7975,8295,NaN,NaN

### Region-specific DataFrame - Domestic Companies

In [225]:
regions = ['world','europe','asia','latin america','small states','africa']

region_exclusive_dc_names = []

for country in list(merged_gen_info_dc_df["Country Name"].values):
    for region in regions:
        try:
            if country.lower() == re.search(region, country.lower()).string:
                region_exclusive_dc_names.append(merged_gen_info_dc_df[merged_gen_info_dc_df['Country Name'] == country].values[0])
        except:
            continue

region_based_dc_df = pd.DataFrame(np.array(region_exclusive_dc_names),columns=[merged_gen_info_dc_df.columns])

# Drop region and income group as every element has null values
region_based_dc_df.drop(columns=['Region','IncomeGroup'],inplace=True)

region_based_dc_df

C:\Users\dfbod\Anaconda3\lib\site-packages\pandas\core\generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

,Country Name,Country Code,Indicator Name,Indicator Code,1975,1976,1977,1978,1979,1980,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Africa Eastern and Southern,AFE,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Western and Central,AFW,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,264,255,254,226,222,NaN,NaN,NaN,259,254
2,Arab World,ARB,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,1338,1333,1355,1184,1188,1187,1172,1189,1349,1330
3,Central Europe and the Baltics,CEB,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,1740,1717,1710,1630,1611,1540,1178,1383,1350,1318
4,East Asia & Pacific (excluding high income),EAP,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5379,5399,5563,5831,6102,6625,6822,7099,7550
5,East Asia & Pacific,EAS,"Listed domestic companies, total",CM.MKT.LDOM.NO,2853,2764,2722,2635,2992,3356,...,14716,14875,16175,16607,17201,17701,18532,19025,19489,20078
6,Europe & Central Asia (excluding high income),ECA,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,1476,1184,1030,1240,1388,1321,874,1132,1028,1030
7,Europe & Central Asia (excluding high income),ECA,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,1476,1184,1030,1240,1388,1321,874,1132,1028,1030
8,Europe & Central Asia,ECS,"Listed domestic companies, total",CM.MKT.LDOM.NO,6245,6004,5787,6143,5938,6057,...,10834,10251,9933,10229,8358,NaN,6950,7033,NaN,NaN
9,Europe & Central Asia,ECS,"Listed domestic companies, total",CM.MKT.LDOM.NO,6245,6004,5787,6143,5938,6057,...,10834,10251,9933,10229,8358,NaN,6950,7033,NaN,NaN
10,European Union,EUU,"Listed domestic companies, total",CM.MKT.LDOM.NO,3321,3330,2818,3232,3099,3163,...,7422,7252,7122,7195,7035,6640,5777,5863,NaN,NaN
11,Latin America & Caribbean (excluding high income),LAC,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,1036,974,...,970,954,953,965,954,957,968,960,945,882
12,Latin America & Caribbean,LCN,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,974,...,1265,1242,1236,1254,1203,1190,1197,1185,1168,1095
13,Middle East & North Africa,MEA,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,2283,2209,2183,1981,1969,1962,1952,1957,2121,2150
14,Other small states,OSS,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,387,275,281,276,NaN,314,366,NaN,NaN
15,South Asia,SAS,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,6438,6486,6614,6909,6672,6672,6483,5955,6115,6126
16,Sub-Saharan Africa (excluding high income),SSA,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Sub-Saharan Africa,SSF,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,East Asia & Pacific (IDA & IBRD countries),TEA,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5379,5399,5563,5831,6102,6625,6822,7099,7550
19,Europe & Central Asia (IDA & IBRD countries),TEC,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,2466,2239,2091,2305,2446,2342,1890,2082,1945,1916
20,Europe & Central Asia (IDA & IBRD countries),TEC,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,2466,2239,2091,2305,2446,2342,1890,2082,1945,1916
21,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,1036,974,...,1240,1220,1219,1232,1177,1171,1180,1165,1148,1076
22,South Asia (IDA & IBRD),TSA,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,6438,6486,6614,6909,6672,6672,6483,5955,6115,6126
23,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Listed domestic companies, total",CM.MKT.LDOM.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,World,WLD,"Listed domestic companies, total",CM.MKT.LDOM.NO,14577,14152,13328,13712,14099,17273,...,44323,43772,44853,45743,43983,43806,43440,43554,43248,NaN

##  Broad money (% of GDP)

In [45]:
broad_money_GDP.shape

(266, 66)

In [66]:
broad_money_GDP.dropna(subset = years, thresh=len(country_id_columns.columns)+1, inplace=True)
broad_money_GDP.dropna(axis=1, thresh=1, inplace=True)
broad_money_GDP

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,69.206836,75.362574,67.419628,69.586958,71.741836,78.012100,76.595399,76.360135,NaN,NaN
1,Africa Eastern and Southern,AFE,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,39.033113,...,49.154952,47.899428,45.518345,45.580240,47.330818,46.446927,46.680668,47.279170,49.436184,54.641886
2,Afghanistan,AFG,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,13.450412,14.534413,17.195122,14.464496,16.688888,15.573952,...,36.624228,32.913692,32.682017,34.209597,33.928053,37.222819,36.861261,36.607494,34.959214,37.209463
3,Africa Western and Central,AFW,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,11.273443,11.439432,11.809329,11.841447,12.954244,12.554200,...,22.887643,24.437434,24.616502,23.287672,23.796143,27.141966,25.585324,26.202434,25.981231,28.938871
4,Angola,AGO,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,34.978872,31.517732,33.331549,35.675553,40.944660,39.162307,32.186521,30.646440,31.326238,37.629798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,41.695386,42.418226,47.016647,43.023003,42.786458,43.787759,44.232494,45.534324,48.464187,58.235487
262,"Yemen, Rep.",YEM,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.076496,34.968710,34.740935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,58.898221,...,67.829728,66.550268,64.980763,65.238143,67.301879,66.312022,66.144766,66.205372,67.149973,74.597834
264,Zambia,ZMB,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,14.186016,...,19.122024,19.576915,20.512792,20.926979,25.772645,20.623568,21.963248,22.893494,23.598096,31.252703
265,Zimbabwe,ZWE,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.685935,21.728074,20.365483,22.451986,23.724442,27.438656,35.467144,27.111472,18.685088,17.720848

## Separating Region-specific, Income-based, and Country-Only information 

Importing re allows for regular expression searching. If any of the strings match a given name found in the "Country Name" column, the if statement returns True. If it doesn't, an error would normally pop up due to the output from the re.search() method, which is why the inner for loops contain try/except statements.

### Countries Only DataFrame

In [226]:
merger_bmg = broad_money_GDP.merge(regions_df,how='inner',on='Country Code')

countries_only_bmg_df = merger_bmg[merger_bmg['Region'].notna()]

countries_only_bmg_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,Region,IncomeGroup
0,Aruba,ABW,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,67.419628,69.586958,71.741836,78.012100,76.595399,76.360135,NaN,NaN,Latin America & Caribbean,High income
2,Afghanistan,AFG,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,13.450412,14.534413,17.195122,14.464496,16.688888,15.573952,...,32.682017,34.209597,33.928053,37.222819,36.861261,36.607494,34.959214,37.209463,South Asia,Low income
4,Angola,AGO,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.331549,35.675553,40.944660,39.162307,32.186521,30.646440,31.326238,37.629798,Sub-Saharan Africa,Lower middle income
5,Albania,ALB,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.106288,85.650808,84.792168,85.804959,81.703420,77.235050,77.947473,90.074383,Europe & Central Asia,Upper middle income
7,United Arab Emirates,ARE,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,72.794433,76.015673,90.235020,93.457149,90.114141,84.383134,92.229718,112.190296,Middle East & North Africa,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Kosovo,XKX,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,47.016647,43.023003,42.786458,43.787759,44.232494,45.534324,48.464187,58.235487,Europe & Central Asia,Upper middle income
208,"Yemen, Rep.",YEM,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,34.740935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Middle East & North Africa,Low income
209,South Africa,ZAF,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,58.898221,...,64.980763,65.238143,67.301879,66.312022,66.144766,66.205372,67.149973,74.597834,Sub-Saharan Africa,Upper middle income
210,Zambia,ZMB,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,14.186016,...,20.512792,20.926979,25.772645,20.623568,21.963248,22.893494,23.598096,31.252703,Sub-Saharan Africa,Lower middle income
211,Zimbabwe,ZWE,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.365483,22.451986,23.724442,27.438656,35.467144,27.111472,18.685088,17.720848,Sub-Saharan Africa,Lower middle income

### Broader Information:

### Income-Based DataFrame - Broad Money GDP

In [224]:
merged_gen_info_df = merger_bmg[merger_bmg['Region'].isna()]

income_based_list = []

for country in list(merged_gen_info_df['Country Name'].values):
    for income in incomes:
        try:
            if country == re.search(income, country).string:
                income_based_list.append(merged_gen_info_df[merged_gen_info_df['Country Name'] == country].values[0])
        except:
            continue

income_based_bmg_df = pd.DataFrame(np.array(income_based_list),columns=[merged_gen_info_df.columns])

income_based_bmg_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,Region,IncomeGroup
0,High income,HIC,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,55.3169,56.9529,58.9249,60.9696,61.4512,61.8823,...,118.879,118.25,117.362,121.416,120.301,120.648,123.618,143.722,NaN,NaN
1,Low income,LIC,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,12.2697,13.547,13.0095,...,24.6924,24.0978,24.235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Lower middle income,LMC,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,21.1549,21.0677,21.6393,21.6754,21.5001,22.7348,...,59.1939,61.0905,63.7802,66.2404,64.3298,64.0422,65.127,74.5784,NaN,NaN
3,Low & middle income,LMY,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,20.2707,20.1941,20.0782,22.6699,...,104.002,109.593,121.589,125.858,123.284,124.973,127.719,144.642,NaN,NaN
4,Upper middle income,UMC,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,119.089,125.878,141.774,147.525,142.811,144.867,148.703,168.216,NaN,NaN

### Region-specific DataFrame - Broad Money GDP

In [219]:
regions = ['world','europe','asia','latin america','small states','africa']

region_exclusive_names = []
for country in list(merged_gen_info_df["Country Name"].values):
    for region in regions:
        try:
            if country.lower() == re.search(region, country.lower()).string:
                region_exclusive_names.append(merged_gen_info_df[merged_gen_info_df['Country Name'] == country].values[0])
        except:
            continue

region_based_bmg_df = pd.DataFrame(np.array(region_exclusive_names),columns=[merged_gen_info_df.columns])

# Drop region and income group as every element has null values
region_based_bmg_df.drop(columns=['Region','IncomeGroup'],inplace=True)

region_based_bmg_df

C:\Users\dfbod\Anaconda3\lib\site-packages\pandas\core\generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Africa Eastern and Southern,AFE,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,39.0331,...,49.155,47.8994,45.5183,45.5802,47.3308,46.4469,46.6807,47.2792,49.4362,54.6419
1,Africa Western and Central,AFW,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,11.2734,11.4394,11.8093,11.8414,12.9542,12.5542,...,22.8876,24.4374,24.6165,23.2877,23.7961,27.142,25.5853,26.2024,25.9812,28.9389
2,Arab World,ARB,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,22.0086,23.147,24.0935,29.8677,...,62.6813,61.4399,66.2413,71.3187,82.9338,88.6316,85.8013,NaN,NaN,NaN
3,Central Europe and the Baltics,CEB,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,58.6308,58.4979,60.5093,61.3305,62.819,65.2572,64.9942,65.8311,65.5633,75.2197
4,Caribbean small states,CSS,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,20.965,19.7187,22.0296,24.0584,23.6727,23.5731,...,52.4796,59.0609,59.7615,61.1698,64.5639,68.8286,67.4494,68.6908,66.1606,78.0273
5,East Asia & Pacific (excluding high income),EAP,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.8872,158.826,166.379,171.578,182.315,186.48,181.476,177.247,179.154,195.464
6,East Asia & Pacific,EAS,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,58.7784,58.8689,NaN,...,130.537,175.633,176.983,180.116,186.336,192.59,189.361,186.674,190.175,209.617
7,Europe & Central Asia (excluding high income),ECA,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,14.699,15.2712,14.944,14.5923,15.9344,17.688,...,46.8492,46.676,49.1335,50.4161,54.0506,53.9789,53.6664,52.8905,53.8831,62.736
8,Europe & Central Asia (excluding high income),ECA,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,14.699,15.2712,14.944,14.5923,15.9344,17.688,...,46.8492,46.676,49.1335,50.4161,54.0506,53.9789,53.6664,52.8905,53.8831,62.736
9,Latin America & Caribbean (excluding high income),LAC,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,19.48,20.9867,19.4043,20.0808,19.2858,19.4839,...,54.8772,55.7342,55.9291,57.7353,58.3651,61.8919,62.1757,65.6349,66.3928,77.5275
10,Latin America & Caribbean,LCN,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,17.9588,20.4409,19.7407,19.8501,19.2604,19.3825,...,54.6283,56.033,56.8877,58.8316,59.7045,62.9394,62.9205,66.1914,67.2735,78.4302
11,Middle East & North Africa,MEA,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,22.8113,23.3947,24.5822,25.5243,26.9885,30.7136,...,62.6463,62.8147,66.5798,72.558,84.0681,89.5723,86.8368,NaN,NaN,NaN
12,Middle East & North Africa (excluding high inc...,MNA,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,21.2995,21.83,23.1061,24.2588,25.6954,30.0921,...,67.6916,67.4344,69.631,76.9922,87.2378,96.6022,NaN,78.9948,NaN,NaN
13,Other small states,OSS,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,28.9852,30.5978,32.2372,34.5434,27.4705,28.928,...,51.923,54.4639,58.9068,61.6558,75.7673,75.007,81.4513,71.801,75.7744,NaN
14,Pacific island small states,PSS,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,29.4435,28.2736,33.9095,37.384,32.6455,...,57.9495,58.3978,62.1048,61.3448,64.4522,65.626,66.4273,66.1829,65.8031,75.9384
15,South Asia,SAS,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,23.4125,22.5658,23.1023,22.6862,21.7759,22.703,...,73.3607,71.943,73.0353,73.1019,73.5039,71.589,71.4543,71.5038,73.3026,84.002
16,Sub-Saharan Africa (excluding high income),SSA,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,28.0269,...,37.9723,37.4197,35.6002,34.8643,36.1771,37.4256,37.4553,37.7778,38.319,42.2306
17,Sub-Saharan Africa,SSF,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,28.0269,...,37.9855,37.4286,35.6177,34.8902,36.203,37.4587,37.493,37.8168,38.368,42.2995
18,Small states,SST,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,22.7072,22.5007,24.5686,26.8616,25.3641,25.4714,...,52.1165,55.2935,59.1004,61.5725,73.4523,73.5558,78.432,71.1832,74.081,96.1957
19,East Asia & Pacific (IDA & IBRD countries),TEA,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.8872,158.826,166.379,171.578,182.315,186.48,181.476,177.247,179.154,195.464
20,Europe & Central Asia (IDA & IBRD countries),TEC,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,14.699,15.2712,14.944,14.5923,15.9344,17.688,...,48.4272,48.0649,50.4585,51.9967,55.6121,56.1367,55.6563,55.4125,56.2356,65.5171
21,Europe & Central Asia (IDA & IBRD countries),TEC,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,14.699,15.2712,14.944,14.5923,15.9344,17.688,...,48.4272,48.0649,50.4585,51.9967,55.6121,56.1367,55.6563,55.4125,56.2356,65.5171
22,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,17.9588,20.4409,19.7407,19.8501,19.2604,19.3825,...,54.6088,55.9843,56.8403,58.7897,59.6604,62.8901,62.8799,66.1345,67.2735,78.4302
23,Middle East & North Africa (IDA & IBRD countries),TMN,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,21.2995,21.83,23.1061,24.2588,25.6954,30.0921,...,67.7708,67.5232,69.7554,77.1784,87.4908,96.9833,NaN,79.1535,NaN,NaN
24,South Asia (IDA & IBRD),TSA,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,23.4125,22.5658,23.1023,22.6862,21.7759,22.703,...,73.3607,71.943,73.0353,73.1019,73.5039,71.589,71.4543,71.5038,73.3026,84.002
25,Sub-Saharan Africa (IDA & IBRD countries),TSS,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,NaN,NaN,NaN,NaN,NaN,28.0269,...,37.9855,37.4286,35.6177,34.8902,36.203,37.4587,37.493,37.8168,38.368,42.2995
26,World,WLD,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,50.5801,51.6453,52.3576,53.8551,54.0933,54.4838,...,99.4664,111.36,111.928,114.399,119.209,123.34,121.637,122.599,125.467,144.129

## Saving the DataFrames to new CSV files (Load)

In [227]:
with open('cleaned_broad_money_GDP.csv','wt') as GDP:
    broad_money_GDP.to_csv(GDP,sep=',')

with open('income_based_GDP.csv','wt') as ibGDP:
    income_based_bmg_df.to_csv(ibGDP,sep=',')
    
with open('income_based_GDP.csv','wt') as rbGDP:
    region_based_bmg_df.to_csv(rbGDP,sep=',')
    
with open('countries_only_GDP.csv','wt') as conGDP:
    countries_only_bmg_df.to_csv(conGDP,sep=',')
    
with open('cleaned_num_dom_comps.csv','wt') as dom_comps:
    domestic_companies.to_csv(dom_comps,sep=',')
    
with open('income_based_num_dom_comps.csv','wt') as ibdom_comps:
    income_based_dc_df.to_csv(ibdom_comps,sep=',')
    
with open('region_based_num_dom_comps.csv','wt') as rbdom_comps:
    region_based_dc_df.to_csv(rbdom_comps,sep=',')
    
with open('countries_only_num_dom_comps.csv','wt') as condom_comps:
    countries_only_dc_df.to_csv(condom_comps,sep=',')